@(persons: List[Person]) 
@import helper._
@main("Persons") {
<div class="container">
	<div class="header">
		<ul class="nav nav-pills pull-right">
			<li class="active"><a href="@routes.PersonController.newPerson()">New Person </a></li>
		</ul>
		<h3>Persons</h3>
		<hr>
	</div>
	<br/>
	<table class="table table-striped table-bordered" id="example" cellpadding="0" cellspacing="0" border="0" width="100%">
		<tfoot>
			<tr style="background-color:#357ebd; color:white;">
				<th class="col-sm-9" style="font-weight:normal;">
					Name Person
				</th>
				<th class="col-sm-1 text-center" style="font-weight:normal;">
					Age
				</th>
				<th class="col-sm-2 text-center" style="font-weight:normal;">
					Action
				</th>
			</tr>
			@for(person <- persons) {
			<tr>
				<th class="col-sm-9" style="vertical-align: middle;" >
					<a href="@routes.PersonController.detail(person.getId)"> @person.getNamePerson </a>
				</th>
				<th class="col-sm-1 text-center" style="vertical-align: middle;" >
					@person.getAgePerson 
				</th>
				<th class="col-sm-2 text-center" style="vertical-align: middle;">		
						@form(routes.PersonController.remove(person.getId)) {
							<input type="submit" value="Remove" class="btn btn-danger"> 
						}
				</th>
			</tr>
			}
		</tfoot>
	</table>
</div>
}
